* {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* @media screen and {(max-width: 1200px)

}
 @media screen {(max-width: 998px) }   
@media screen {(max-width: 768px) 
h1 {
    font-size: 30px;
    justify-self: content;
}
}
@media screen { (max-width: 576) 
h1 {
    font-size: 25px;
    justify-self: content;
}
} */
/*  */
.navbar {
    background-color: rgb(31, 28, 28);
    padding-top: 10px;
}

.navbar-dark .navbar-brend{
    color: aliceblue;
}
.navbar-dark .navbar-brend:hover {
    color: antiquewhite;
}

.navbar-brend {
    justify-content: center;
    /* margin-left: 90px; */
    font-family: 'Post No Bills Jaffna';
    /* font-style: normal; */
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    width: auto;
    text-decoration: none;
    position: relative;
}

.navbar-tovar {
    position: absolute;
    margin-left: 1000px;
    display: inline;
    color: #fff;
    justify-content: center;
}
.navbar-tovar:hover {
    color: burlywood;
}
body {
    background-color: black;
}

/* ШАПКА САЙТА */
.row {
    box-sizing: border-box;
    height: 300px;
    padding-top: 50px;
    flex-basis: 100px;
    /* margin: 0 0 0 0; */
}
#hero {
    max-width: 100%;
    height: 100vh;
    background: url(./images/BMNR4724.png);
    background-size: cover;
    position: relative;
    object-fit: scale-down;
    margin: 0px 0 0px 0px;
    text-decoration: 4px underline;
}
#hero::before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    /* bottom: 0; */
    top: 0;
    left: 0;
    /* right: 0; */
}
#hero .container {
    position: relative;
    padding-top: 75px;
    margin: 0 0 0 15px;
}
.border-block {
    width: auto;
    border: 3px solid #fff;
    background: rgba(0, 0, 0, .3);
    padding-top: 40px;

}
#hero h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: 'Post No Bills Jaffna';
}
 h2 {
    padding-top: 30px;
    font-family: 'Post No Bills Jaffna';
    color: #fff;
}
    /*  КОНТЕЙНЕР10-1 */
.about {
    margin:  0px 0px 70px 0px;
    display: flex;
    width: 100%;
}
.text {
    color: #fff;
    font-size: 30px;
    font-family: 'Post No Bills Jaffna' ;
    text-align: center;
}
.conta {
    margin: 0px 0px 70px 0px;
    display: inline;
    justify-content: center;
    max-width: 100%; 
    grid-gap: 20px;
}
.row-row {        
    padding: 13px 15px;
    top: 50px;
    width: 250px;
    height: 250px;
    display: inline-block;  
    margin: 35px -34px 0px -8px;
 }
.flex-box {
    /* margin: 0px 0px 20px 350px; */
    overflow: hidden;
    display: inline;
}
.card-image {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 5px 1px #8295bd;
}
.img-fluid {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    min-width: 190px;
}
.text-tovar {
    color: #fff;
    margin: 204px 0 0 54px;
    position: absolute;
}
/* .navbar-toggler {
    background: #1d49aa;
} */
.navbar-toggler-icon{
    position: absolute;
    outline: none;
    box-shadow: 0 0 5px 1px #8295bd;
    background-color:rgb(36, 25, 25);
    color: #fff;
    width: 162px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    margin: 220px 0px 0px 6px;
    font-family: 'Post No Bills Jaffna';
    padding-top: inherit;
}