* {
    width: 100%;
}
.navbar {
    background-color: rgb(31, 28, 28);
    padding-top: 10px;
}

.navbar-dark .navbar-brend{
    color: aliceblue;
}
.navbar-dark .navbar-brend:hover {
    color: antiquewhite;
}

.navbar-brend {
    justify-content: center;
    margin-left: 90px;
    font-family: 'Post No Bills Jaffna';
    /* font-style: normal; */
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    width: auto;
    text-decoration: none;
}

.navbar-tovar {
    width: auto;
    display: inline;
    color: #fff;
}
.navbar-tovar:hover {
    color: burlywood;
}
body {
    background-color: black;
}

/* ИСПРАВИТЬ BORDER */
.row {
    box-sizing: border-box;
    border: 3px solid #fff;
    height: 300px;
    padding-top: 100px;
    flex-basis: 100px;
    background: rgba(0, 0, 0, .3);
    /* width: 300px; */
}
#hero {
    width: 100%;
    height: 100vh;
    background: url(./images/BMNR4724.png);
    background-size: cover;
    position: relative;
    object-fit: scale-down;
}
#hero::before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#hero .container {
    position: relative;
    padding-top: 75px;
}
#hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: 'Post No Bills Jaffna';
}
 h2 {
    padding-top: 30px;
    font-family: 'Post No Bills Jaffna';
    color: #fff;
}
/* ДО ЭТОГО КЛАССА! */
    /*  ТОВАР */
.flex-box {
    display: block;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 200px;
    height: auto;
    position: relative;
}
.text-tovar {
    color: #fff;
    font-size: 30px;
    font-family: 'Post No Bills Jaffna' ;
    text-align: center;
}
.img-fluid {
    flex-direction: row;
    margin-left: 20px;
    margin-top: 45px;
    width: 250px;
    height: 250px;
}
.navbar-toggler {
    position: absolute;
    background: blue;
    color: #fff;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    margin-left: 40px;
    padding-right: 40px;
    font-family: 'Post No Bills Jaffna' ;
}
.images1 {
    color: #fff;
}

/* .images2 {
    color: #fff;
}
.images3 {
color: #fff;
} */