.navbar {
    background-color: rgb(31, 28, 28);
}

.navbar-dark .navbar-brend{
    color: aliceblue;
}
.navbar-dark .navbar-brend:hover {
    color: antiquewhite;
}
.navbar-brend {
    justify-content: center;
}

/* .container-display {
    display: inline;
    justify-content: center;
    flex-direction: row;
    
} */

.navbar-instagram {
    color: #fff;
    /* justify-content: center; */
}
.navbar-instagram:hover {
    color: crimson;
}
.navbar-messendger {
    color: #fff;
    margin: 8px;
}
.navbar-messendger:hover {
    color: rgb(78, 118, 225);
}
.navbar-tovar {
    color: #fff;
}
.navbar-tovar:hover {
    color: burlywood;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url(https://cs5.livemaster.ru/storage/5e/14/73010a67e0c4afdca122e39889md--sumki-i-aksessuary-kozhanyj-koshelek-klatch.jpg);
    background-size: cover;
    position: relative;
}
#hero::before {
    content: "";
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#hero .container {
    position: relative;
    padding-top: 75px;
}
#hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}